
.score{
  justify-content: space-around;
}
.section{
  width: 100%;
  height: auto;
  margin: 9px;
    padding: 7px;
    background-color: #bdc6cd40;
    display: grid;
    border-radius: 5px;
}
.number{
  font-size: 25px;
  font-weight: 500;
}
.off{
  font-size: 16px;
  font-weight: 400;
}
.one{
  margin: 7px 7px;
  padding: 24px 26px;
  border-radius: 5px;
  background-color: #8085894d;
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}
.svg-inline--fa {
  height: 3em;
}

.item{
  font-size: 35.5px;
}

@media only screen and (max-width: 600px) {
  .one{
    margin: 7px 7px;
    padding: 22px 20px;
  }
  .svg-inline--fa {
    height: 1.9em;
  }
  .item {
    font-size: 20.5px;
}
 }


.board{
  margin: auto;
    width: fit-content;
    margin-bottom: 10%;
}
.hide{
  display:none;
  transform: rotateY(180deg);
}
.show{
  display: inline-block;
  pointer-events: none!important;
  transform: rotateY(180deg);
}

.close{
  pointer-events: none!important;
  opacity: 0.5;
}
.disableBoard{
  pointer-events: none!important;
}

.flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
}
.transform {
  transform: rotateY(180deg);
}

.closeTransform{
  transform: rotateY(90deg);
}
/* .flip-card-inner:hover {
  transform: rotateY(180deg);
} */


